<section id="connect">
    <div class="heading"data-aos="fade-up"data-aos-duration="1000" >
        <p class="main-heading"><em>CONNECT </em><span class="sub-heading">With me &darr;</span></p>
    </div>
    <div class="row col-lg-12"data-aos="fade-up"data-aos-duration="1500">
    <div id="container" class="col-lg-12">
      
       
        <form action="#" method="post" id="contact_form">
          <div class="name">
            <label for="name"></label>
            <input type="text" placeholder="My name is *" [(ngModel)]="name" name="name" id="name_input" required>
          </div>
          <div class="email">
            <label for="email"></label>
            <input type="email" placeholder="My e-mail is *" [(ngModel)]="email" name="email" id="email_input" required>
          </div>
          <div class="telephone">
            <label for="name"></label>
            <input type="tel" placeholder="My number is" [(ngModel)]="number" name="telephone" id="telephone_input" >
          </div>
       
          <div class="message">
            <label for="message"></label>
            <textarea name="message" [(ngModel)]="message" placeholder="I'd like to chat about *" id="message_input" cols="10" rows="3" required></textarea>
          </div>
          <div class="submit">
            <input type="submit" (click)="postMessage()" (click)="showAlert()" value="Send Message" id="form_button" />
          </div>
          
        </form><!-- // End form -->
      </div><!-- // End #container -->
    
    </div>
</section>
