<section>
    
    <div class="heading"data-aos="fade-up"data-aos-duration="1000">
        <p class="main-heading"><em>Choose your poison </em><span class="sub-heading">Categroies &darr;</span></p>
    </div>
    <div class="row col-lg-12 col-md-12" data-aos="fade-up"data-aos-duration="1500">
        <div class="col-lg-1 "></div>
        <div class="col-lg-5 col-md-6 pixels" >
<img src="../../../assets/images/pixels2.png" class="img-responsive image-fit">
<p class="subtitle">Smartphones, AI and Electric Cars</p>
<p class="head">PIXELS</p>
<div class="title">
    <a class="sub-1"  [routerLink]="['/pixels']"><p class="sub">Everything I know about the latest tech. Be it smartphones, AI or my favourite Electric Cars.Catch Something of everything here.</p></a>
<p class="sub-2"><a  [routerLink]="['/pixels']">See All</a></p>
</div>
        </div>
        <div class="col-lg-5 col-md-6 pages">
            <img src="../../../assets/images/book1.png" class="img-responsive image-fit">
            <p class="subtitle">Fiction, Romance and Fantasy</p>
            <p class="head">PAGES</p>
            <div class="title">
                <a class="sub-4"  [routerLink]="['/pages']">     <p class="sub">This is all about the love of reading and no one to talk about. Untill now!. Read my views on the books I read which mainly run around romance and fantasy</p></a>
                <p class="sub-3"><a  [routerLink]="['/pages']">See All</a></p>  
            </div>
        </div>
    </div>
</section>
<br>