section{
    margin: 25px;
}

.sub-2 a{
    text-decoration: none;
    color: black;
    background-color: white;
 
    padding: 5px;
 
}
.sub-3 a{
    text-decoration: none;
    color: black;
    background-color: yellowgreen;
 
    padding: 5px;
 
}
.sub-4{
    color: black;
}
.sub-1{
    text-decoration: none;
    color: antiquewhite;
}

.main-heading{
    color: black;
    font-size: 64px;
    font-weight: 700;

}

.sub-heading{
    font-size: 14px;
    font-weight: normal;
}
.row{
   

    height: auto;
 
  
 
}
.pixels{
   position: relative;
    
    border-radius: 20px;
}
.image-fit{
    max-width: 100%;
         object-fit: cover;
       
         border-radius: 20px;
}
.pages{
   
    position: relative;
}
.head{
position: absolute;
top: 5%;
left:1%;
background-color: white;
border-radius: 0px 0px 20px 0px;


font-size: 4vw;
-webkit-text-stroke: 1px black;
-webkit-text-fill-color: transparent;

 text-shadow: 4px 4px 1px black;
 padding:0px 10px;
}
.subtitle{
    position: absolute;
    z-index: 30;
top: 0%;
left:1%;
background-color: white;
border-radius: 0px 0px 20px 0px;
font-size: 1.18vw;

-webkit-text-fill-color: black;
/* text-shadow: 4px 4px 1px black; */
padding:8px;
}


.title{
    position: absolute;
    top: 60%;
left:51%;
width: 90%;
transform: translate(-50%);


}

 .sub{
   
 

    display: inline;
    background-color: rgba(250, 235, 215, 0.447);
    font-size: 1.8vw;
   padding-top: 11px;
   border: 3px solid antiquewhite;
}
.pages .sub{
    
    font-size: 1.7vw;
    border: 3px solid yellowgreen;
}
.pixels:hover img{
    box-shadow: 4px 4px 2px black;
}
.pages:hover img{
    box-shadow: 4px 4px 2px black;
}
@media screen and (max-width: 768px){
    .main-heading{
        font-size: 8vw;
    }
    .image-fit{
width: 100%;
             object-fit: cover;
           height: 450px;
             border-radius: 20px;
    }
    .pixels{
        margin-bottom: 30px;
    }
    .head{
      

        
        
        font-size: 10vw;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: transparent;
        
       
         padding:10px;
        }
        .subtitle{
           
   
     
        font-size: 3vw;
        
  
        padding:8px;
        }
        .sub{
   
 

       padding: 5px;
            font-size: 4vw;
         
        }
        .pages .sub{
            padding: 5px;
            font-size: 4vw;
        }
}
