<footer >
    <div class="row col-lg-12" data-aos="fade-up"data-aos-duration="1000">
<p class="head">Pixels&Pages</p>
<p class="sub">Pixels and Pages is a blog website which is a mix of two things that I love: Tech and novels. Here,
    you will my take on latest tech which include Smartphones, AI and Personal favourite Electric Vehicles.
    You will also take a sneak peak into the books that I am currently reading and how I felt about them.
</p>
<ul>
    <li><a href="#"><i class="fa fa-instagram insta"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook fb"></i></a></li>
    <li><a href="#"><i class="fa fa-google google"></i></a></li>
   
</ul>
<div class="footer-bottom">
    <p>copyright &copy;2023 <a href=”#”>Pixels&Pages</a>  </p>
    <ul class="footer-nav">
        <li><a [routerLink]="['/home']">&nbsp; Home &nbsp;</a></li>
        <li><a [routerLink]="['/pixels']">&nbsp; Pixels &nbsp;</a></li>
        <li><a [routerLink]="['/pages']">&nbsp; Pages &nbsp;</a></li>
        <li><a href="#connect">&nbsp; Connect &nbsp;</a></li>
        <!-- <li><a href="#">&nbsp; Portfolio &nbsp;</a></li> -->
    </ul>
<p>Developed By: <a href="mailto:iamparag121298@gmail.com">Parag Chauhan</a></p>
</div>
    </div>
</footer>